.sidebar-wrapper {
    background: #070707;
    width: 300px; 
    height: 100%;
    overflow: auto;
    position: fixed; 
}
.sidebar-wrapper .navbar ul li{ 
    display: flex;
    padding: 5px 20px;
    font-size: 16px;
}
.navbar-brand {
    margin: 0;
    padding: 10px 0;
}
.divider {
    border-bottom: 1px solid #403D51;
    width: 100%;
}
.version-toggle button{
    border: none;
    position: relative;
    font-weight: 700;
}
.version-toggle button:focus{ 
    border: none;
    outline: none;
    box-shadow: none;
}
.version-toggle button::after{
    content: '';
    position: absolute;
    right: 10%;
    top: 12px;
    background-image: url(/assets/images/arrow.png);
    width: 13px;
    height: 9px;
    background-repeat: no-repeat;
}

.version-toggle button.collapsed::after{
    transform: rotate(180deg);
}
.font-14 {
    font-size: 14px;
}
.font-18 {
    font-size: 18px;
}
.navbar-nav li {
    margin-top: 20px;
}
.navbar-nav li label{
    margin-bottom: 0;
}
.sidebar-wrapper .navbar .sidebar-bot-list li{
    padding: 0;
    margin-top: 20px;
    flex-direction: column;
}
.sidebar-wrapper .navbar .sidebar-bot-list li a{ 
    color:#fff;
    width: 100%;
    position: relative;
}
.sidebar-wrapper .navbar .sidebar-bot-list li a:hover{
    text-decoration: none; 
}
.font-700 {
    font-weight: 700;
}
.dropdown-toggle::after {
    background-image: url(/assets/images/arrow.png);
    width: 13px;
    height: 9px;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    right: 0;
    top: 7px;
}
.sidebar-wrapper .navbar .sidebar-bot-list li a.collapsed::after{
    transform: rotate(180deg);
}
.sidebar-wrapper .navbar .sidenav-subnav li{
    font-size: 14px;
    padding-left: 10px;
}
.sidebar-wrapper .navbar .sidenav-subnav li svg{
    margin-right: 10px;
}
