<div class="banner pb-5">
    <div class="container pb-5">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 banner-left">
                <h1 class="white-color">
                    <!-- <span class='header-text-1'> Bitcoin Staking for ERC20 </span>
                    <span class='header-text-2'> and BEP20 Open Finance </span> -->
                    Institutional Grade Bitcoin Bridge
                </h1>
                <p class="light-grey mt-4 mb-4">
                    <!-- BTCpx is an Institutional Layer-2 Protocol for DeFi -->
                    Unlock Bitcoin for DeFi on Matic L2 with low costs, high speeds and PRXY token governance
                </p>
                <button class="primary-btn-ui fifth button" [routerLink]="['/earn']">
                    <span> Go to Dapp
                        <i class='fa fa-arrow-right ml-06' aria-hidden="true"></i>
                    </span>
                </button>
                <div class="row pt-4">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 pl-0">
                        <img src="./../../../assets/images/quillaudits1.png" alt="quillaudits"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 banner-right full-img-mobile">
                <img src="./../../../assets/images/right-img.png" alt="banner right"/>
            </div>
        </div>
    </div>
</div>
<div class="landing-page-ui bg-white">
    <div class="container pt-5 pb-5">
        <h2 class='text-center' >
            <span class='shadow-lg p-3 pl-5 pr-5 rounded-30'> Partners  </span>
        </h2>
        <div class="row pt-5 logo-row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center client-view-img">
                <img src="./../../../assets/images/liquid-logo.png" alt="Liquid"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center client-view-img">
                <img src="./../../../assets/images/uni-logo.png" alt="Uni"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center client-view-img">
                <img src="./../../../assets/images/hex-logo.png" alt="Hex"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center client-view-img">
                <img src="./../../../assets/images/A195.png" alt="A195"/>
            </div>
        </div>
        <div class="row pt-4 logo-row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center client-view-img">
                <img src="./../../../assets/images/DAOventures-logo-1.png" alt="DAO ventures"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center client-view-img">
                <img src="./../../../assets/images/matic.png" alt="Matic"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center client-view-img">
                <img src="./../../../assets/images/launchpool-logo.png" alt="Launchpool"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center client-view-img">
                <img src="./../../../assets/images/alphabit-logo.png" alt="Alphabit"/>
            </div>
        </div>
        <div class="row pt-4 logo-row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center client-view-img">
                <img src="./../../../assets/images/o1ex-logo.png" alt="o1ex"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center client-view-img">
                <img src="./../../../assets/images/tdefi.jpg" alt="Tdefi"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center client-view-img">
                <img src="./../../../assets/images/alphasigma_bw.png" alt="alpha sigma capital"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center client-view-img">
                <img src="./../../../assets/images/fbg_bw.png" alt="fbg capital"/>
            </div>
        </div>
        <div class="row pt-4 logo-row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center client-view-img">
                <img src="./../../../assets/images/gbic_bw.png" alt="gbic"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center client-view-img">
                <img src="./../../../assets/images/iconomy_bw.png" alt="Iconomy"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center client-view-img">
                <img src="./../../../assets/images/juncapital_bw.png" alt="Jun Capital"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center client-view-img">
                <img src="./../../../assets/images/MasterVentures_bw.png" alt="Master Ventures"/>
            </div>
        </div>
        <div class="row pt-4 logo-row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center client-view-img">
                <img src="./../../../assets/images/protocol_bw.jpg" alt="protocol"/>
            </div>
        </div>
    </div>
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12 text-center full-img-mobile">
                <h2 class='text-center mb-5 font-weight-bold'>Stake your <span class='primary-color'>
                Bitcoin</span> to mint <span class='primary-btn-color'>BTC Proxy</span> ERC20</h2>
                <div class='row '>
                    
                    <div class='col-md-3 ml-md-auto mr-md-auto'>
                        <ul class='imp-list'>
                            <li>No centralized exchange risk</li>
                            <li>No price slippage</li>
                            <li>Not affected by volume or liquidity</li>
                            <li>Insured custody</li>
                        </ul>
                    </div>
                    <!-- <div class='col-md-4 ml-md-auto mr-md-auto'></div> -->
                    <div class='col-md-3 ml-md-auto mr-md-auto'>
                        <div class="text-center mt-1 mb-4">
                            <p>Backed by</p>
                            <button class="primary-btn-ui small-btn">Bitcoin 1:1</button>
                        </div>
                    </div>
                    <div class='col-md-6'>
                <img class="shadow-lg p-4 rounded-30 wd-90" src="./../../../assets/images/proxy-relay-img.jpg" alt=""/>                        
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container pt-5 pb-5">
        <div class="col-12 full-img-mobile">
            <h2 class="mb-5 font-weight-bold text-center"> Elegance in Efficiency </h2>
            <div class="row pb-5">
            <div class="col-lg-5 col-md-5 col-sm-12 col-12 full-img-mobile">
                <img class="shadow-lg p-4 rounded-30" src="./../../../assets/images/proxy-relay-kit-img.png" alt="kit"/>
            </div>
            <div class="offset-lg-2 offset-md-2 col-lg-5 col-md-5 col-sm-12 col-12">
                <h4 class="title font-weight-bold"> Lowest Gas Fees to Mint and Redeem </h4>
                <p class="mt-3 mb-4 line-height-32">
                    Confirmation of Bitcoin blocks onto an Ethereum smart contract using a Matic side chain make Proxy the cost effective choice
                </p>
                <ul class="pl-3 ml-1">
                    <li><b>Layer-2</b></li>
                    <li><b>Lowest Minting and Redemption Fees</b></li>
                    <li><b>Confirmation in under 30 mins</b></li>
                    <li><b>On Chain Verifications</b></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    <div class="container pt-5 pb-5">
        <div class="col-12 full-img-mobile">
            <h2 class="mb-4 font-weight-bold pl-5 pr-5 text-center">Institutional Custody</h2>
            <h5 class="font-weight-normal mt-3 mb-4 text-center">Trusted consensus to protect your Bitcoin</h5>
            <div class="row pb-5">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 pr-5">
                    <h4 class="font-weight-bold">Comprehensive Crime Insurance</h4>
                    <p class="mb-5 line-height-32">Commercial criminal insurance to further safekeep our client assets. The insurance coverage is arranged by Aon via a selection of international insurers.</p>
                    <h5 class="font-weight-bold">Inclusions</h5>
                    <p class="mb-5 line-height-32">The insurance is a proprietary Aon solution and covers theft of digital assets, via employee dishonesty or through third parties, held by Hex Trust on behalf of their clients.</p>
                    <h5 class="font-weight-bold">Segregated Wallets</h5>
                    <p class="line-height-32">DAO Member funds never mix with the general pool</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4 full-img-mobile">
                <img class="shadow-lg p-4 rounded-30" src="./../../../assets/images/bit-kit-img.png" alt="kit"/>
            </div>
        </div>
        </div>
    </div>
    <div class="container pt-5 pb-5">
        <div class="col-12 full-img-mobile">
            <h2 class="font-weight-bold text-center">How do you use BTCpx?</h2>
            <div class="row mobi-padding-none">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pr-5 pl-5 mobi-padding-none">
                <ul class="nav d-flex justify-content-center tabs-ui">
                    <li>
                        <a data-toggle="tab" href="#home" class="active">
                            <h5 class="line-height-26 pt-4 pb-4 pl-5 pr-5 m-0">
                                Mint
                            </h5>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#menu1">
                            <h5 class="line-height-26 pt-4 pb-4 pl-5 pr-5 m-0">Stake</h5>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#menu2">
                            <h5 class="line-height-26 pt-4 pb-4 pl-5 pr-5 m-0">
                                Redeem
                            </h5>
                        </a>
                    </li>
                </ul>

                <div class="tab-content bg-white">
                    <div id="home" class="tab-pane fade in active show">
                        <div class="shadow-lg p-5 rounded-15 line-height-26">
                            <p>
                                <strong>Minting</strong> refers to the process of creating new BTCpx tokens. Minting is a decentralized process whereby the user interacts directly with the smart contract to verify the BTC has been sent to the custodian.  The BTCpx smart contract verifies the Chainwork and Merkelroot of the Bitcoin transaction and validates that to approve the minting of new tokens.  Your BTC is stored in custody so the new tokens are backed by Bitcoin at a ratio of 1:1.  There are no central or manual process involved, the system is trustless and can confirm transactions at 30 min intervals.  Use your newly minted BTCpx on DEFI applications or stake them for rewards.
                            </p>
                            <div class="w-100 text-center mt-5 full-img-mobile sm-mode-img">
                                <img  src="./../../../assets/images/mint-dapp-img.png" alt-=""/>
                            </div>
                        </div>

                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <div class="shadow-lg  p-5 p5-small rounded-15 line-height-26">
                            <p>
                                <strong>Staking</strong> to earn ecosystem rewards by adding liquidity</p>
                            <p>
                            New pools will be added periodically. Add liquidity to the pools and stake the LP tokens to earn $PRXY
                            </p>
                            <div class="w-100 text-center mt-3 full-img-mobile sm-mode-img">
                                <img class="w-100 rounded-10 " src="./../../../assets/images/earn-dapp-img.jpg" alt-=""/>
                            </div>
                        </div>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <div class="shadow-lg p-5 rounded-15 line-height-26">
                            <p>
                                <strong>Burning</strong> is the action of redeeming your BTCpx tokens for BTC.  If you have BTCpx tokens and want your BTC back you simply redeem it.  Interact with the app to burn the BTCpx tokens to take them out of the circulation supply and receive your BTC from the custodian.                                
                            </p>
                            <div class="w-100 text-center mt-5 full-img-mobile sm-mode-img">
                                <img src="./../../../assets/images/redeem-dapp-img.png" alt-=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="upper-footer bg-white">
    <div class="container  pt-5 pb-5 ">
        <div class="col-12">
            <h2 class="mb-5 font-weight-bold text-center"> Features </h2>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-1">
                    <div class="shadow-lg p-5 rounded-15 bg-white">
                        <img class="ml-n4" src="./../../../assets/images/hand-shake-icon.png" alt="hand"/>
                        <h5 class="mt-4 mb-3">Layer-2</h5>
                        <p class="line-height-26">
                            Utilizing the Proxy Relay to confirm BTC transactions onto the ETH smart contract makes the system efficient with the lowest minting and redeeming gas fees
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-1">
                    <div class="shadow-lg p-5 rounded-15 bg-white">
                        <img class="" src="./../../../assets/images/db-icon.png" alt="hand"/>
                        <h5 class="mt-4 mb-3"> Mint and Redeem </h5>
                        <p class="line-height-26">
                            Minting and Burning maintains a 1 : 1 BTC/BTCpx ratio verifiable on chain for transparent accounting for all backed assets
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-1">
                    <div class="shadow-lg p-5 rounded-15 bg-white">
                        <img class="" src="./../../../assets/images/grade-icon.png" alt="hand"/>
                        <h5 class="mt-4 mb-3">Institutional Safeguards</h5>
                        <p class="line-height-26">
                            An institutional solution that holds Bitcoin directly with the custodian implemented with the safest policies and limits to ensuring that any BTC deposited is out of reach.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer pb-5 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <h5 class="mt-4 mb-3 white-color">Community</h5>
                <h6><a class="line-height-26 light-grey font-weight-normal" href="https://t.me/BTC_Proxy" target="_blank">Telegram</a></h6>
                <h6><a class="line-height-26 light-grey font-weight-normal" href="https://www.facebook.com/groups/518259788663468/" target="_blank">Facebook</a></h6>
                <h6><a class="line-height-26 light-grey font-weight-normal" href="https://twitter.com/BTC_proxy" target="_blank">Twitter</a></h6>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <h5 class="mt-4 mb-3 white-color">Developers</h5>
                <h6>
                    <a class="line-height-26 light-grey font-weight-normal" href="https://docs.btcpx.io/" target="_blank">Docs</a>
                </h6>
                <h6 class="line-height-26 light-grey font-weight-normal">
                    <a class="line-height-26 light-grey font-weight-normal" href="https://github.com/Proxy-Protocol" target="_blank"> Code </a>
                </h6>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <h5 class="mt-4 mb-3 white-color">Proxy</h5>
                <h6><a class="line-height-26 light-grey font-weight-normal" href="https://proxy.btcpx.io" target="_blank">Governance</a></h6>
                <h6><a class="line-height-26 light-grey font-weight-normal" href="mailto:hello@btcpx.io">Contact</a></h6>
            </div>
        </div>
    </div>
</div>
